<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="flotr2-graph" version="">
    <details>
        <title>Flotr2 Graph</title>
        <authors>Álvaro Arranz &lt;aarranz@conwet.com&gt;</authors>
        <contributors>Iris Muñoz &lt;imunoz@conwet.com&gt;</contributors>
        <email>wirecloud@conwet.com</email>
        <image>images/catalogue.png</image>
        <description>This widget allows you to create any graph supported by flotr2.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <homepage>https://github.com/Wirecloud/flotr2-graph-widget</homepage>
        <doc>doc/userguide.md</doc>
        <changelog>doc/changelog.md</changelog>
    </details>
    <wiring>
        <inputendpoint name="input" type="text" label="Data in" description="Graph configuration and data values input. See the documentation for a more detailed description and examples" friendcode="floatr2-graph-data"/>
    </wiring>
    <contents src="index.html" contenttype="text/html" charset="utf-8" useplatformstyle="true"/>
    <rendering width="40%" height="406px"/>
</widget>
